body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    background-image: url(../img/background.jpg);
}

img{
    height: 750px;
    align-items: center;
}

.image-hover {
    transition: transform 0.3s ease-in-out;
}

.image-hover:hover {
    transform: scale(1.1);
}
